// Specific CSS for your home-page
.text {
  font-size: 50px;
}

.home-buttons-left{
  color:#BC4B51;
  text-align: center;
}

.home-buttons-left p{
  color: #2C0703;
  text-align: center;
  padding: 21px;
}

.home-buttons-left h2{
  font-size: 45px;
}

.home-buttons-right h2 {
  font-size: 45px;
}

.home-buttons-right p {
  color: #2C0703;
  text-align: center;
  padding: 21px;
}

.home-buttons-right{
  color:#BC4B51;
  text-align: center;
}

a.btn.btn-lg{
  color:white;
  font-size: 30px;
  background-color: #BC4B51;
}

.show-layout{
  background-color: #f2f2f2;
  height: 100vh;
}


.title{
  padding-left: 38px;
  font-weight: bolder;
  margin-top: 50px;
  margin-bottom: 30px;
}

.btn-buy{
  text-decoration: none;
  width: 25%;
  text-align: right;
}

.organ-content{
  display: flex;
  border: 1px solid grey;
  border-radius: 68px;
  padding: 33px;
  padding-right: 29px;
  margin-right: 335px;
}


.organ-content ul{
  list-style: none;
}

.organ-content img{
  background-color: white;
 padding: 5px 10px 0px 10px;
 height: 25%;
 width: 25%;
 border-radius: 25%;
}

.organ-price{
  width: 25%;
  text-align: right;
  font-size: 22px;
}

.button{
  color: black;
  font-size:22px ;
  width: 25%;
  text-align: right;
  text-decoration: none;
}
