// Specific CSS for your home-page
.text {
  font-size: 50px;
}

.home-buttons-left{
  display: inline-block;
  color:#BC4B51;
  text-align: center;
  margin: 50px;
}

.home-buttons-left p{
  color: #2C0703;
  text-align: inherit;
  padding: 21px;
}

.home-buttons-left h2{
  font-size: 45px;
}

.home-buttons-right h2 {
  font-size: 45px;
}

.home-buttons-right p {
  color: #2C0703;
  text-align: inherit;
  padding: 21px;
}

.home-buttons-right{
  color:#BC4B51;
  text-align: center;
  margin: 50px;
}

a.btn.btn-lg{
  color:white;
  font-size: 30px;
  background-color: #BC4B51;
}

.form-actions > input {
  color:white;
  font-size: 24px;
  background-color: #BC4B51;
}
