<div class="dashboard-card">
  <img src="https://media.istockphoto.com/photos/human-heart-picture-id1320314279?k=20&m=1320314279&s=612x612&w=0&h=1zBoPZM6Ww3osHlB8gP_4n_oiD4e1BZhd6JOiyh1wcU=" alt="">
  <div class="dashboard-booking-card-infos">
    <h4><%= booking.organ.name %></h4>
    <h4><%= booking.organ.description %></h4>
  </div>
  <div class="dashboard-booking-card-status">
    <h4><%= booking.availability %></h4>
    <img src="" alt="">
  </div>
</div>
