<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1559757296-5c84adc6d116?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3131&q=80);">
  <div class="container">
    <h1>Lebonrein!</h1>
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam dolore fugit aliquam.</h2>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
