<div class="footer">
  <div class="footer-copyright">
      <i class="fa-solid fa-lungs"></i> Lebonrein 2022 ©
    </div>
  <div class="footer-links">
    <a href="https://www.instagram.com/?hl=fr"><i class="fab fa-instagram"></i></a>
    <a href="https://fr-fr.facebook.com/"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/?lang=fr"><i class="fab fa-twitter"></i></a>
  </div>
</div>
