<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.dribbble.com/users/2381658/screenshots/7243590/media/f3eaf52a8a6b1cf9c4ead9419a875137.png?compress=1&resize=1600x1200&vertical=top);">
  <div class="container">
    <h1>Lebonrein!</h1>
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam dolore fugit aliquam.</h2>
  </div>
</div>
