<%= render "shared/home_banner" %>

<div class="lebonrein-container d-flex justify-content-between">

  <div class="home-buttons-left">
    <h2>Achat</h2>
    <p>Notre plateforme vous permet de rechercher l'organe de vos rêves et vous garantit la viabilité de votre nouvelle acquisition. faites nous confiance et sautez le pas !
    </p>
    <%= link_to "Acheter", organs_path, :class => "btn btn btn-lg" %>
  </div>

  <div class="home-buttons-right">
    <h2>Vente</h2>
    <p>Vendez votre organe sur Lebonrein est un jeu d'enfant. Offrez une nouvelle vie à tous ceux qui sont dans le besoin et mettez votre altruisme à profit !</p>
    <a class="btn btn-lg" href="#">Vendre</a>
  </div>
</div>
