<%= render "shared/home_banner" %>
<h1>Lebonrein</h1>
<p></p>

<div class="lebonrein-container d-flex justify-content-between">

  <div class="home-buttons-left">
    <h2>Achat</h2>
    <p>Achetez l'organe de vos rèves! Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere inventore eaque eius minima ut nisi explicabo. Quasi itaque dolores consequatur facere assumenda. Sit dolorum quod ipsa iusto magni, ut aliquam?</p>
    <a class="btn btn btn-lg" href="#">Acheter</a>
  </div>

  <div class="home-buttons-right">
    <h2>Vente</h2>
    <p>Vendez votre organe! Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae inventore est, expedita laudantium amet placeat similique atque maiores itaque optio sed cumque tempore repudiandae magnam, repellat voluptatum sequi repellendus natus.</p>
    <a class="btn btn-lg" href="#">Vendre</a>
  </div>
</div>

