.cards {
  display: flex;
  justify-content: space-evenly;
  margin: 40px;
}

.card {
  background-color: whitesmoke;
  width: 25vw;
  height: 45vh;
  border-radius: 5px;
  border: 0px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 16px;
}

.card img {
  object-fit: cover;
}

.card-content {
  // padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-info-price {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card-info {
  display: flex;
  flex-direction: column;
}

.card h2 {
  font-size: 20px;
}

.card p {
  font-size: 16px;
  // margin-top: 3px;
}

.card-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
