.dashboard-card {
  height: 180px !important;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.dashboard-card img {
  object-fit: cover;
  object-position: center;
  width: 30%;
  height: 100%;
}

.dashboard-booking-card-infos {
  width: 50%;
  margin: 50px;
  display: flex;
  flex-direction: column;
  line-height: 10px;
}

.dashboard-booking-card-status {
  width: 20%;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.dashboard-card h4 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.dashboard-card p {
  font-size: 14px;
  line-height: 1.8;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.dashboard-card .dashboard-card-infos {
  padding: 16px;
}

.nav-tabs {
  border: 0;
}

.button-orders {

}
