.cards {
  display: flex;
  justify-content: space-evenly;
  margin: 40px;
}

.card {
  background-color: whitesmoke;
  width: 25vw;
  border-radius: 5px;
  border: 0px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card img {
  object-fit: cover;
}

.card-content {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card h2 {
  font-size: 20px;
}

.card p {
  font-size: 16px;
  margin-top: 3px;
}
