.dashboard-card {
  height: 250px !important;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  position: relative;
}

.dashboard-card img {
  object-fit: cover;
  object-position: center;
  width: 30%;
  height: 100%;
}

.dashboard-booking-card-infos {
  width: 50%;
  margin: 30px;
  display: flex;
  flex-direction: column;
  line-height: 10px;
}

.dashboard-booking-card-status {
  width: 20%;
  margin-right: 30px;
}

.dashboard-card h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 2em;
}

.dashboard-card p {
  font-size: 14px;
  opacity: .7;
  padding-bottom: 4px;
}

.dashboard-card .dashboard-card-infos {
  padding: 16px;
}

.nav-tabs {
  border: 0;
}

.orders-button {
  background-color: #BC4B51;
  font-size: 14px;
  color: white;
  text-decoration: none;
  padding: 8px;
  border-radius: 60px;
  transition: 0.5s;
  border: none;
  margin-top: 10px;
  height:40px;
  width:120px;
}

.status-right {
  margin-left: 5px;
}

p {
  line-height: 1.5;
}

.emoji-delete-edit {
  display: flex;
  justify-content: space-around;
  position: absolute;
  right: 24px;
  top: 24px;
  font-size: 24px;
  a {
    padding-right: 10px;
  }
}

#save-review > input {
  font-size: 16px;
}
