.navbar-lewagon {
  display: flex;
  background: #BC4B51;
  height: 60px;

}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: white !important;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}
