.navbar-lewagon {
  display: flex;
  background: #BC4B51;
  position: sticky;
  width: 100%;
  align-items: center;
  z-index: 1000;
  top:0;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.nav-link {
  color: white !important;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}

.container-fluid {
  height: 60px;
}
