.navbar-lewagon {
  display: flex;
  background: #BC4B51;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.nav-link {
  color: white !important;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}

.container-fluid {
  height: 60px;
}
