.organs-banner {
  background-image: url("https://i.f1g.fr/media/cms/orig/2021/12/12/20bd7b2c842e7098cde49c93e5f3c0b0c5d34854740718ce538a4e99900ee6b1.jpg");
  height: 36vh;
  padding: 40px;
  display: flex;
  align-items: center;
  background-size: 100vw;
  background-position: right 35% bottom 45%;;
  background-image: linear-gradient(rgba(0,0,0,0.3))
}
