.organs-banner {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("bocaux.png");
  height: 36vh;
  padding: 40px;
  display: flex;
  align-items: center;
  background-size: 100vw;
  background-position: right 35% bottom 45%;;
  background-image: linear-gradient(rgba(0,0,0,0.3));
  color: white;
  text-shadow: 1px 1px 2px #2C0703;
}
