.search-form-control {
  position: relative;
  border-radius: 5px;
  width:500px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 0px;
}

.btn-search {
  margin-left: 5px;
  background-color: #CB807D;
  font-size: 16px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.5s;
  border: 0px !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  width: 100px;
}

.btn-search:hover {
  background-color: #BC4B51;
  color: white;
}

.search-bar{
  display: flex;
  justify-content: center;
  padding-top: 10px;
  height: 45px;
  margin-top: 20px;
}

.search-form-control .form-control:focus {
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  display: flex;
}
