.tabs {
  display: flex;
}

.tab {
  background-color: #CB807D;
  color: white;
  padding: 8px;
  border-radius: 8px 8px 0 0;
  width: 200px;
  text-align: center;
}

.tab-active {
  background-color: #E8DCB9;
}

.tab-content {
  display: none;
}

.tab-content-active {
  display: block;
}
