
.tabs {
  display: flex;
}

.tab {
  background-color: #CB807D !important;
  border-radius: 8px 8px 0 0 !important;
  text-align: center;
  color: white;
  width: 200px;
  height: 40px;
  padding: 8px 0;
  cursor: pointer;
}

.tab-active {
  background-color: #BC4B51 !important;
  // border-radius: 8px 8px 0 0 !important;
}

.lebonrein-container {
  padding-top: 60px;
}
