// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "organs/show";

body {
  background-color: #EDE6E6;
}

a {
  text-decoration: none;
}

.lebonrein-container {
  width: 900px;
  margin: 0 auto;
}
