<div class="organs-banner">
  <h1>ORGANES DISPONIBLES</h1>
</div>

  <%= form_with url: organs_path, method: :get, class: "search-bar" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "search-form-control form-group",
      placeholder: "Rechercher un organe"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>

<div class="cards">
  <% @organs.each do |organ| %>
    <%= render "displayed_organs", organ: organ %>
  <% end %>
</div>
